<nav class="navbar navbar-dark navbar-expand bg-primary">
    <a class="navbar-brand" href="#">
        <img width="100" alt="ACME LOGO" src="../assets/ACME_logo_100.png">
    </a>
    <div>
        <h1 id="titulo">{{title}}</h1>
    </div>
</nav>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-2">
                Filtrar por:
            </div>
            <div class="col-md-4">
                <input type="text" />
            </div>
        </div>
        <br>
        <app-product-list [datos]="products"></app-product-list>
    </div>
</div>